:root {
    --red: rgb(255, 106, 106);
    --black: hsl(0, 0%, 30%);
    --background-col: rgba(255, 255, 255, 0.65);
    --border-col: rgba(77, 77, 77, 0.2);
    --blue: rgb(106, 121, 255);
    --lightblue: rgb(166, 175, 255);    
    --yellow: #e2b559;
    --orange: #ec8a39;
    --green: rgb(105, 180, 105);
    --lightgreen: rgb(233, 248, 233);
    --lightred: rgb(255, 236, 236);
    --lightyellow: #ffe8bb;
    --lightorange: #ffdec1;
    --height: 300vh;
}

html {
    scroll-behavior: smooth;
}

.everything {
    display: none;
}

.container {
    max-width: 1000px;  
    margin: 0 auto;
    font-size: 20px ;
    color:hsl(0, 0%, 30%);
    border: 1px solid rgba(77, 77, 77, 0.2);
    font-family: 'Tahoma';
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 5px;
  }
a:link {
    font-weight: 200;
    text-decoration: none;
    color: var(--red);
}
a:visited {
    color: var(--red);
}
h1 {
    text-align: center;
    animation: color-size-change 5s infinite;
}
h1:hover {
    animation: color-size-change 3s infinite;
}

@keyframes color-size-change {
    0% {
        color:var(--red);

    }
    50% {
        color:var(--blue);

    }

    100% {
        color:var(--red);

    }
}

body {
    
    background-color:#c6c6c5;
    background-image: url('../materials/autumn.png');
    background-size: 1520px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

input {
    background-color: white;
    border:solid 1px hsl(0, 0%, 71%);
    border-radius: 20px;
    height: 20px;
}

button {
    margin: auto;
    margin-top: 10px;
    background-color: var(--red);
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    color:white;
    font: bold 15px Verdana;
    box-shadow: 0px 0px 3px var(--black);
    transition: opacity 0.8s;
    cursor:pointer;
}

button:hover {
box-shadow:0px 0px 5px hsl(0, 0%, 30%);
}



footer {
    position: relative;
    max-width: 500px;
    margin: auto;  
    margin-top: 70px;
    margin-bottom: 20px;
    margin-bottom: 0px;
    font-size: 14px ;
    color: hsl(0, 0%, 30%);
    font-family: 'Tahoma';
    border-top:solid 2px var(--border-col);
    padding: 15px;
    text-align: center;
}

#frog {
    position: relative;
    top: 22vh;
    width: 22vh;
    transition: 0.8s;
}



.game {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--height);
    width: 99%;
    justify-content: center;
    border: 5px solid var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    transition: 0.8s;
}

.no {
    opacity: 0;
}
.game > img {
    height: 20vh;
    width: 20vh;
    margin: 0 auto;
    justify-content: center;
    border: 3px solid transparent;
    transition: 0.8s;
}


#start:hover, #finish:hover {
    border: none;
    border-radius: 0;
}

.task {
    width: 99%;
    height: var(--height);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    align-items: center;
}

.task span {
font-size: 26px;
text-align: center;
margin: 0 auto;
cursor: pointer;
}
.task span:hover {
    color: white;
}


.controls {
    position: fixed;
    top: 15px;
    right: 20px;   
}

.controls > p {
    margin: auto;
    margin-top: 10px;
    background-color: var(--green);
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    color:white;
    font: bold 15px Verdana;
    text-align: center;
    box-shadow: 0px 0px 3px var(--black);
    transition: opacity 0.8s;
}

#levelup {
    display: flex;
    margin: 50px auto;

}

.ex {
    color: var(--lightyellow)
}